<form novalidate #questionImageForm="ngForm">
  <fieldset>
    <div class="card">
      <div class="card-header">
        Question: {{question.question}}
      </div>
      <div class="card-body" *ngIf="question">
        <div class="container">
          <ngb-carousel
          [showNavigationArrows]="true"
          [showNavigationIndicators]="true"
          interval="1200"
          [keyboard]="true"
          [pauseOnHover]="true"
          [wrap]="true"
          [activeId]="'secondSlide'">
            <ng-template ngbSlide >
              <div class="picsum-img-wrapper">
                <mls-input-file></mls-input-file>
                <img [src]="question.image_1_Cloud"
                class="img-thumbnail mx-auto d-block"
                style="min-height: 200px; max-height: 200px;">
              </div>
              <div class="carousel-caption">
                <h3>First slide</h3>
              </div>
              <div style='vertical-align: bottom;' >
                <input class="form-control"
                id="Qimage1CloudId"
                type="url"
                name="Qimage1Cloud"
                [(ngModel)]=question.image_1_Cloud
                #Qimage1CloudIdVar="ngModel" />
              </div>
            </ng-template>
            <ng-template ngbSlide >
              <div class="picsum-img-wrapper">
                <img [src]="question.image_2_Cloud"
                class="img-thumbnail mx-auto d-block"
                style="min-height: 200px; max-height: 200px;">
              </div>
              <div class="carousel-caption">
                <h3>Second slide</h3>
              </div>
              <div style='vertical-align: bottom;' >
                <input class="form-control"
                id="Qimage2CloudId"
                type="url"
                name="Qimage2Cloud"
                [(ngModel)]=question.image_2_Cloud
                #Qimage2CloudIdVar="ngModel" />
              </div>
            </ng-template>
            <ng-template ngbSlide >
              <div class="picsum-img-wrapper">
                <img [src]="question.image_3_Cloud"
                class="img-thumbnail mx-auto d-block"
                style="min-height: 200px; max-height: 200px;">
              </div>
              <div class="carousel-caption">
                <h3>Third slide</h3>
              </div>
              <div style='vertical-align: bottom;' >
                <input class="form-control"
                id="Qimage3CloudId"
                type="url"
                name="Qimage3Cloud"
                [(ngModel)]=question.image_3_Cloud
                #Qimage3CloudIdVar="ngModel" />
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </fieldset>
</form>

