<div class="panel panel-primary">
  <div class="panel-body">
    <div class="container-fluid pt-2">
      <div class="form-group form-inline">Full text search: <input class="form-control ml-2"
        type="text" name="searchTermQuestion"
        [(ngModel)]="subjectListService.searchTerm"/>
        <mat-spinner
        diameter=25
        strokeWidth=5
        *ngIf="subjectListService.loading$ | async"></mat-spinner>
        <button class="btn btn-primary ml-auto"
        style="width:80px"
        type="button"
        title="Add response"
        [routerLink]="['/subjects', +0,'edit']"
        queryParamsHandling="preserve">Add</button>
      </div>
      <table class="table table-dark table-striped table-hover" style="table-layout:fixed">
        <thead>
          <tr>
            <th scope="col" mLSSubjectList="name" (sort)="onSort($event)" colspan="2"  style="padding-left: 26px;">Subject</th>
            <th scope="col" mLSSubjectList="description" (sort)="onSort($event)">Description</th>
            <th scope="col" mLSSubjectList="keywords" (sort)="onSort($event)">Keywords</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Subject of subjectListService.subjects$ | async">
            <td colspan="2">
              <div *ngIf="Subject.imageCloud.trim().length>0">
                <img class="float-left img-responsive mr-2"
                [style.height.px]="48"
                [style.margin.px]="2"
                [src]=Subject.imageCloud>
              </div>
              <div ><ngb-highlight [result]="Subject.name" [term]="subjectListService.searchTerm" style="word-break: keep-all; word-wrap: none;"></ngb-highlight></div>
            </td>
            <td><ngb-highlight [result]="Subject.description" [term]="subjectListService.searchTerm"></ngb-highlight></td>
            <td><ngb-highlight [result]="Subject.keywords" [term]="subjectListService.searchTerm" style="word-wrap: break-word;"></ngb-highlight></td>
            <td>
              <tr style="padding-bottom: 8px;">
                <div class="p-2">
                  <button class="btn btn-primary"
                  style="width:80px"
                  type="button"
                  title="Edit this subject"
                  [routerLink]="['/subjects', Subject.bodyOfKnowledgeId,'edit']">Edit</button>
                </div>
              </tr>
              <tr style="padding-top: 8px;">
                <div class="p-2">
                  <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this product"
                  (click)="deleteSubject(Subject)">Delete</button>
                </div>
              </tr>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="(subjectListService.subjectsCount$ | async)!"
          [(page)]="subjectListService.page"
          [pageSize]="subjectListService.pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="subjectListService.pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="30">30 items per page</option>
          <option [ngValue]="60">60 items per page</option>
          <option [ngValue]="100">100 items per page</option>
        </select>
      </div>
  </div>
</div>
