<div class="h5">
  <h5>Subjet: {{pageTitle}} </h5>
</div>
<div class="container-fluid pt-2">
  <div class="card">
    <div class="card-body"
        *ngIf="subject">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">Name:</div>
            <div class="col-md-6">{{subject.name}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Description:</div>
            <div class="col-md-6">{{subject.description}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Tags:</div>
            <div class="col-md-6">{{subject.keywords}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Shared:</div>
            <div class="col-md-6">{{subject.isShared}}</div>
          </div>
          <div class="row">
            <div class="col-md-3">Categoies:</div>
            <div class="col-md-6">
              <mat-form-field aria-readonly="True" matNativeControl id="categoireiesId"
              class="form-control readonly-wrapper" style="min-height: 50px;">
                <mat-select  class="readonly-block"
                  [(ngModel)]="subject.categoryIds" multiple>
                  <mat-option  *ngFor="let category of categoriesList"
                    [value]="category.categoryId">{{category.categoryName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-4"
            *ngIf="subject.imageCloud">
          <img class="center-block img-responsive "
              [style.height.px]="150"
              [style.margin.px]="2"
              [src]="subject.imageCloud">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px"
                  [routerLink]="['/subjects']"
                  queryParamsHandling="preserve">
            <i class="fa fa-chevron-left"></i> Back
          </button>
          <button class="btn btn-outline-primary"
                  style="width:80px"
                  [routerLink]="['/subjects', subject.bodyOfKnowledgeId,'edit']">Edit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger"
      *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
