<form novalidate #responseInfoForm="ngForm">
  <fieldset>
    <div class="card">
      <div class="card-header">
        Responce: {{response.response}}
      </div>
      <div class="card-body" *ngIf="response">
        <div class="container">
            <label class="col-md-2 col-form-label"
            for="questionId">Response</label>
          <div class="col-md-8">
            <input class="form-control"
                  id="responseId"
                  type="text"
                  placeholder="Responce (required)"
                  required
                  name="response"
                  [(ngModel)]=response.response
                  #questionVar="ngModel" />
          </div>
          <label class="col-md-2 col-form-label"
          for="mnemonicId">Mnemonic</label>
          <div class="col-md-8">
          <input class="form-control"
            id="mnemonicId"
            type="text"
            placeholder="Mnemonic (required)"
            required
            name="mnemonic"
            [(ngModel)]=response.mnemonic
            #questionVar="ngModel" />
          </div>

          <label class="col-md-2 col-form-label"
          for="hyperlink_1">Hyperlinks:</label>
          <div class="col-md-6">
            <input class="form-control"
            id="hyperlink_1"
            type="url"
            name="subjectName"
            [(ngModel)]=response.hyperlink_1
            #hyperlink_1Var="ngModel"/></div>
          <div class="col-md-6">
            <input class="form-control"
            id="hyperlink_2"
            type="url"
            name="hyperlink_2"
            [(ngModel)]=response.hyperlink_2
            #hyperlink_2Var="ngModel"/></div>
          <div class="col-md-6">
            <input class="form-control"
            id="hyperlink_3"
            type="url"
            name="hyperlink_3"
            [(ngModel)]=response.hyperlink_3
            #hyperlink_3Var="ngModel"/>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
