<div style="padding-top: 40px;" ></div>
<div class="row">
  <div class="col-lg"></div>
  <div class="col-lg">
    <div class="container">
      <div class="card" style="width:320px; padding: 5px ;">
        <img class="card-img-top" style="width:120px;" src="../../assets/images/img_avatar_male.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{userData?.displayName}}</h4>
          <p class="card-test">{{userData?.surname}} {{userData?.givenName}}</p>
          <p class="card-text">Job Tile: {{userData?.jobTitle}}</p>
          <p class="card-text">Email: {{userData?.mail}}</p>
          <p class="card-text">Mobile Phone: {{userData?.mobilePhone}}</p>
          <p class="card-text">Name: {{userData?.firstName}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



